@import "tailwindcss";

h1{
  font-size: 64px;
  font-weight: bold;
  text-decoration: underline;
  white-space: nowrap;
}


.nestedProduct{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  font-weight: bold;
  text-decoration: underline;
  white-space: nowrap;
}