*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  background: #000;
  color: white;
}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%);
}

.navBar{
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  background: #4b37e1;
  padding: 32px 48px;
}

.right-nav{
   display: flex;
   align-items: center;
   gap: 32px;
}
a{
  color: inherit;
}