* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
}

#card{
  padding: 32px 32px;
  margin: 32px 32px;
  border-radius: 10px;
  background: cadetblue;
}
#card h1{
  margin-bottom: 16px ;
}